/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Cambiar color de fondo a negro */
    color: white;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin-top: 50px; /* Mover el contenedor hacia abajo */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Estilos para las tarjetas */
.card {
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    color: white;
    transition: transform 0.3s ease; /* Agregar transición */
    margin-bottom: 20px; /* Separación inferior entre las tarjetas */
}

.card:hover {
    transform: scale(2.2); /* Hacer que el card se expanda al pasar el cursor */
}

.card img {
    max-width: 100%;
    border-radius: 8px 8px 0 0;
}

.card h2 {
    font-size: 1.5em;
    margin: 15px 0 10px;
}

.card p {
    font-size: 1em;
    color: white;
}